@font-face {
    font-family: 'open_sansbold';
    src: url('/dist/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/dist/fonts/opensans-bold-webfont.woff') format('woff'),
         url('/dist/fonts/OpenSans-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('/dist/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('/dist/fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('/dist/fonts/OpenSans-ExtraBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('/dist/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/dist/fonts/opensans-light-webfont.woff') format('woff'),
         url('/dist/fonts/OpenSans-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('/dist/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/dist/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/dist/fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('/dist/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('/dist/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/dist/fonts/OpenSans-SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}